.pet-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1em 0;
  border: 1px solid #dadada;
  // padding: 1rem;
  border-radius: 0.5rem;
  max-width: 400px;
  border-top: 5px solid crimson;
  padding-top: 50px;

  div {
  }
}
