@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500;600;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.center {
  text-align: center;
}

html {
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: inherit;
}

:root {
  /* colors */
  --color-background: #f7f7f7;
  --color-text: #5c3f13;
  --color-crimson: #d90000;
}

body {
  font-family: 'Anek Malayalam', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background: var(--color-background);
  color: var(--color-text);
}

/* PET CARD */

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  gap: 4rem;
  margin: 3rem auto;
  justify-content: center;
}
.grid-list:nth-of-type(1) {
  margin-bottom: 100px;
}
.grid-item {
  // max-width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.item-photo {
  img {
    border-radius: 5px 5px 0 0;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
  }
}
.item-info {
  padding: 1rem;

  h5 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
}
